html,body{margin:0;
 padding:0;
 height:;
 width:100%;
 font-size:62.5%;
 box-sizing:border-box;
    background-color:aqua;
}

body{margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
}

.bg_light_grey{background-color:;5a6d95;
}

header{height:15rem;
    width:100%;
    font-size:2rem;
    background-color:grey;
}

/*logo*/


header > a > img  {margin:1rem;
height:7rem;
width:24.3rem;
display:block;
}


#header_line{height:.1rem;
opacity:0.5;
background-color:white;
}

nav{margin-top:5rem;
 height:3rem;
 width:100%;
}

header > nav >ul {display:inline-block;
list-style:none;
}

header > nav > ul >li{margin:0;
padding:0;
width:calc(100%/6);
    display:inline;
    color:ffffff;
}

main{margin:0 auto;
padding:0;
height:;
width:100%;
background-color:orange;
}

#bottom_links{background-color:burlywood;
}

.link_image{height:50px;
width:100px;
}

