html,body{margin:0;
 padding:0;
 width:100%;
 font-size:62.5%;
 box-sizing:border-box;
   border:0;
}

body{margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
    text-align:center;
        
}

.bg_light_grey{background-color:;5a6d95;
}

header{height:15rem;
    width:100%;
    font-size:2rem;
    vertical-align:baseline;
    background-color:grey;
}

/*logo*/


header > a > img  {margin:1rem;
height:7rem;
width:24.3rem;
display:block;
    float:left;
}


#header_line{height:.1rem;
opacity:0.5;
background-color:white;
}

header > nav{margin-top:5rem;
 height:3rem;
 width:100%;
}

header > nav >ul {display:inline-block;
list-style:none;
    float:right;
}

header > nav > ul >li{margin:0;
 padding:0;
 width:calc(100%/6);
 display:inline;
 color:ffffff;
}

#slide_show{height:20%;
  width:80%;
}



main{margin:0 auto;
padding:0;
height:;
width:80%;
background-color:orange;
}

article > section >img{float:left;}

article > section >p{float:right;}

#bottom_links{margin:0;
padding:0;
width:calc(100%/4);
    
    display:inline-block;
    
    color:ffffff;
}

.link_image{height:5px;
width:10px;
}

footer{height:15rem;
    width:100%;
    font-size:2rem;
    vertical-align:baseline;
    background-color:grey;
}
