html,body{
    margin:0;
    padding:0;
    width:100%;
    font-size:62.5%;
    box-sizing:border-box;
    border:0;
}

body{
    margin:0 auto;
    padding:0;
    height:100%;
    width:100%;
    background-color:#efefef;
        
}

header{
    height:13rem;
    width:100%;
    font-size:1.5rem;
    color: #ffffff;
    vertical-align:baseline;
    background-color:#5a6d95;
}

/*logo*/


header > a > img  {
    margin:1rem;
    height:7rem;
    width:24.3rem;
    display:block;
    float:left;
}

hr{
    line-height: 0.09;
    opacity: 0.3;
    color: #ffffff;
}
header > nav{
    margin-top:.5rem;
    width:100%;
}

header > nav >ul {
   
    display:inline-block;
    list-style:none;
    color:#ffffff;
    float:right;
}

header > nav > ul >li{
    margin-right:10px;
    padding:0;
    width:calc(100%/6);
    display:inline;
    color:#ffffff;
}

h1{height:4em;
    width:110em;text-align: center;
 
    
    background-color:#bcb8af;
}

#slide_show{height:342px;
  width:950px;
    text-align: center;
}



main{margin:0 auto;
padding:0;
height:100em;
width:90%;
text-align:center;
background-color:#fafafa;
}


/*
div{margin:0 auto;
padding:0;
text-align: center;
box-sizing: border-box;
}
*/

#box_1{
    margin:0 auto;
   height:height:100%;
    width:100%;
    box-sizing: border-box;
   
 }
#center_img{
    margin:0 auto;
    padding:5px;
    height:200px;
    width:250px;
    box-sizing: border-box;
    float: left; 
}
p{
    margin:0 auto;
    border:50px;
    width:300px;
    height: 200px;
    font-size: 15px;
}


#bottom_links{margin:0 auto;
 padding:0;
 height:50px;
 width:100%;

text-align: center
 box-sizing: border-box;
    align-items: center
 color:ffffff;
    font-size:15px
 }

#tele{margin:0;
 padding:0;
 width:calc(100%/4);
 display:inline-block;
 float:left;
 color:ffffff;
}

#sub{margin:0;
 padding:0;
 width:calc(100%/4);
 display:inline-block;
 float:left;
 color:ffffff;
}

#emp{margin:0;
 padding:0;
 width:calc(100%/4);
 display:inline-block;
 float:left;
 color:ffffff;
}

#vid{margin:0;
 padding:0;
 width:calc(100%/4);
 display:inline-block;
 float:right;
 color:ffffff;}

.link_image{height:5px;
 width:10px;
 }

footer{margin:0 auto;
    border:10px:
        height:13rem;
    width:100%;
    font-size:1.5rem;
    color: #ffffff;
    vertical-align:baseline;
    display:inline-block;
    background-color:#5a6d95;
}



#copy{float:left;
}
#hippa{float:left;
   color:#ffffff;
}
#dis{float:left;
    color:#ffffff;
}


#social_img{float:right;
}